* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

body {
    background-color: #93ac93;
}

.Navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    /* padding: 32px 0; */
}

nav {
    height: 150px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 2rem; */
    align-items: center;


}

.navLists {
    list-style-type: none;
}

.navItem {
    display: inline-block;
    margin: 0px 30px;
    /* padding-top: 22px; */

}

.navLink {
    /* font-family: cursive; */
    font-size: 100%;
    font-weight: bold;
    color: rgb(220, 30, 30);
    text-decoration: none;
}

.navLink:hover {
    color: yellow;
    cursor: pointer;
}

.logoDiv img {
    border-radius: 50%;
    margin: 0 12px;
}

.borderRight {
    /* width: 2px; */
    height: 50px;
    font-size: 30px;
    display: inline-block;
}

.hero hr {
    border: 2px solid black;
}

.cake-img {
    width: 100%;
    position: relative;
}

.cake-img img {
    width: 100%;
}

.cake-img h1,
h3 {
    position: absolute;
}

.cake-img h1 {
    color: white;
    background-color: rgb(220, 30, 30);
    left: 18%;
    bottom: 35%;
    font-size: 370%;
    padding: 12px 24px;
}

.cake-img h3 {
    color: rgb(220, 30, 30);
    background-color: yellow;
    left: 18%;
    bottom: 22.7%;
    padding: 12px 24px;
}

/* products */

.card {
    position: relative;
    border: 3px solid black;
    padding: 10px;
    /* background-image: url("assets/blackforest_cake.jpg"); */

}

.card-footer {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    /* background-color: #ffa600; */
    width: 100%;
    text-align: center;
    color: black;

}

.col{
    border-radius: 0px;
}

.card:hover img {
    opacity: 0.4;
}

.card:hover {
    border-color: #ffa600;
}

.card:hover .card-footer {
    display: block;
    background-color: #ffa600;
}

/* reviews */
.customer-reviewer-img{
    transform:skewX(8deg);
}

.review div{
    background-color: rgb(220, 30, 30);
    color: white;
}

/* contactUs-Form */

.contactUs-Form{
    left: 22%;
    background-color: rgba(117, 71, 3, 0.751);
}

.contactUs-Form input{
    height: 50px;
    margin-bottom: 30px;
    padding: 8px;
}

.send-msg{
    width: 70%;
    padding: 12px 8px;
    border: none;
    margin: 4px auto;
}

/* footer */
.footer{
    width: 100%;
    height: 380px;
    color: white;
}

.footer-top{
    background-color: gray;
    padding: 2% 10%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.footer-bottom{
    background-color: rgb(62, 62, 62);
    color: white;
    padding: 2% 10%;
}

.brand{
    background-color: transparent;
    border: 1px solid white;
    padding: 2px 2px ;
    border-radius: 50%;
}