*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #93ac93;
}
.Navbar{
    position: sticky;
    top:0;
    z-index: 1;
    background-color: white;
    /* padding: 32px 0; */
}
nav{
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    align-items: center;
    
}

.navLists{
    list-style-type: none;
}

.navItem{
    display: inline-block;
    margin: 0px 30px;
    /* padding-top: 22px; */
}

.navLink{
    /* font-family: cursive; */
    font-size:large;
    color: red;
    text-decoration: none;
}
.navLink:hover{
    color: yellow;
}
.logoDiv img{
    border-radius: 50%;
}
.borderRight{
    /* width: 2px; */
    height: 50px;
    font-size: 30px;
    display: inline-block;
}

.hero hr{
    border: 2px solid black;
}

.cake-img{
    width: 100%;
    position: relative;
}

.cake-img img{
    width: 100%;
}

.cake-img h1,h3{
    position: absolute;
}

.cake-img h1{
    color: white;
    background-color: red;
    left:18%;
    bottom: 35%;
    font-size: 370%;
    padding: 12px 24px;
}

.cake-img h3{
    color: red;
    background-color: yellow;
    left:18%;
    bottom: 22.7%;
    padding: 12px 24px;
}

.card{
    position: relative;
border: 3px solid black;
padding: 10px;


}
.prodNameOnHover{
display: none;
position: absolute;
bottom: 10px;
background-color: #ffa600;
width: 93%;
text-align: center;
color: black;

}

.card:hover img{ 
    opacity: 0.4;
}
.card:hover{
    border-color:  #ffa600;
}
.card:hover .prodNameOnHover{
    display: block;
    opacity: 1;
}